/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.mb-2 {
    margin-bottom: 2em;
}

.square {
    width: 200px;
    height: 200px;
}

.border {
    border: 2px solid red;
    /* border-top: 1px solid blue;
    border-bottom: 2px dotted green; */
    border-width: 4px;
    border-style: solid;
    /* border-color: red green black blue; */
    /* border-color: red green */
    /* border-color: red green blue; */
}

.border-radius {
    background-color: aqua;
    border-radius: 50%;
    border-top-left-radius: 2px;
}

.padding-parent {
    background-color: blue;
    padding: 2px 16px 8px;
    color: white;
}

.padding-child {
    background-color: green;
    width: 100%;
    height: 100%;
    color: black;
}

.margin {
    background-color: brown;
    margin: 10px 0;
}

.display-1 {
    display: inline-block;
    background-color: cadetblue;
}
    
.line-height-wrapper {
    background-color: burlywood;
    height: 3em;
    line-height: 3em;
}